In [7]:
!git clone https://github.com/Azzam-Radman/Toxic-Spans-Detection.git

fatal: destination path 'Toxic-Spans-Detection' already exists and is not an empty directory.

In [1]:
from tqdm import tqdm
import pandas as pd
import numpy as np
from nltk.tokenize import TweetTokenizer
pd.set_option('display.max_colwidth', None)

In [15]:
df = pd.read_csv('/content/Toxic-Spans-Detection/src/dataset/AJGT.csv')
# in case of using Jupyter note book comment the above cell and run the second cell
#df=pd.read_csv(r'https://raw.githubusercontent.com/Azzam-Radman/Toxic-Spans-Detection/main/src/dataset/AJGT.csv')
df.head()

,ID,Feed,Sentiment
0,1,اربد فيها جامعات اكثر من عمان ... وفيها قد عمان ونص لعيبه المنتخب منها ... و 80 % من مطربين الاردن منها,Positive
1,2,الحلو انكم بتحكوا على اساس انو الاردن ما فيه فساد سرقات,Negative
2,3,كله رائع بجد ربنا يكرمك,Positive
3,4,لسانك قذر يا قمامه,Negative
4,5,​انا داشره وغير متزوجه ولدي علاقات مشبوه واحشش واحيانا اهرب مخدرات و اجيد التسليك احب ان انكب نفسي وعلاقتي بالمنزل متوتره جد,Negative

In [16]:
df['Sentiment'].value_counts()

Negative    900
Positive    900
Name: Sentiment, dtype: int64

In [17]:
df.shape

(1800, 3)

In [18]:
# import nltk
# nltk.download('punkt')
# nltk.download('stopwords')
# nltk.download('wordnet')

In [19]:
tknzr2 = TweetTokenizer()
def custom_tokenizer(text_data):
    return tknzr2.tokenize(text_data)

In [20]:
custom_tokenizer(df['Feed'][0])

['اربد',
 'فيها',
 'جامعات',
 'اكثر',
 'من',
 'عمان',
 '...',
 'وفيها',
 'قد',
 'عمان',
 'ونص',
 'لعيبه',
 'المنتخب',
 'منها',
 '...',
 'و',
 '80',
 '%',
 'من',
 'مطربين',
 'الاردن',
 'منها']

In [21]:
max_ = 0
for i in range(df.shape[0]):
    len_ = len(custom_tokenizer(df['Feed'][i]))
    if len_ > max_:
        max_ = len_
print(max_)

143

In [22]:
tokenized_df = pd.DataFrame(np.zeros((df.shape[0], 143)), columns=[f"{i}" for i in range(143)])
tokenized_df.head()

,0,1,2,3,4,5,6,7,8,9,...,133,134,135,136,137,138,139,140,141,142
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
for i in tqdm(range(df.shape[0])):
    len_ = len(custom_tokenizer(df['Feed'][i]))
    list_of_tokens = custom_tokenizer(df['Feed'][i])
    list_of_tokens += ['pad'] * (143 - len_)
    tokenized_df.iloc[i, :] = list_of_tokens

100%|████████████████████████████████████████████████████████████████████████████| 1800/1800 [00:00<00:00, 2310.65it/s]

In [24]:
tokenized_df.head(4)

,0,1,2,3,4,5,6,7,8,9,...,133,134,135,136,137,138,139,140,141,142
0,اربد,فيها,جامعات,اكثر,من,عمان,...,وفيها,قد,عمان,...,pad,pad,pad,pad,pad,pad,pad,pad,pad,pad
1,الحلو,انكم,بتحكوا,على,اساس,انو,الاردن,ما,فيه,فساد,...,pad,pad,pad,pad,pad,pad,pad,pad,pad,pad
2,كله,رائع,بجد,ربنا,يكرمك,pad,pad,pad,pad,pad,...,pad,pad,pad,pad,pad,pad,pad,pad,pad,pad
3,لسانك,قذر,يا,قمامه,pad,pad,pad,pad,pad,pad,...,pad,pad,pad,pad,pad,pad,pad,pad,pad,pad

In [25]:
new_idx = list(range(0, 1800*2, 2))
tokenized_df.index = new_idx
tokenized_df_2 = tokenized_df.reindex(range(0, 3601, 1))
tokenized_df_2 = tokenized_df_2.fillna('')

In [29]:
tokenized_df_2.head(8)

,0,1,2,3,4,5,6,7,8,9,...,133,134,135,136,137,138,139,140,141,142
0,اربد,فيها,جامعات,اكثر,من,عمان,...,وفيها,قد,عمان,...,pad,pad,pad,pad,pad,pad,pad,pad,pad,pad
2,الحلو,انكم,بتحكوا,على,اساس,انو,الاردن,ما,فيه,فساد,...,pad,pad,pad,pad,pad,pad,pad,pad,pad,pad
4,كله,رائع,بجد,ربنا,يكرمك,pad,pad,pad,pad,pad,...,pad,pad,pad,pad,pad,pad,pad,pad,pad,pad
6,لسانك,قذر,يا,قمامه,pad,pad,pad,pad,pad,pad,...,pad,pad,pad,pad,pad,pad,pad,pad,pad,pad

In [37]:
tokenized_df_2.to_csv('tokenized.csv')